.delivery-list{
    margin: 20px auto 0;
    padding: 0 20px;
    float: left;
}

.delivery-list article{
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.delivery-list article span{
    font-size: 16px;
    color: #999;
    margin-top: 5px;
    line-height: 24px;
}

.map{
    padding: 0 20px;
    display: inline;
}

@media screen and (min-width:601px){
    .delivery-list article{
        width: 100%;
    }
    .delivery-list{
        width: 40%;
    }
}

@media screen and (max-width:600px){
    .delivery-list{
        float: none;
    }
    .map{
        margin: 20px auto 0;
        padding: 0 20px;
        width: 100%;
    }
}